################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core/.vs/Core
/Core/bin/Debug/net8.0
/Core/obj
